html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	scrollbar-width: thin;
	scrollbar-color: lighten($main-color, 20%) lightgrey;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background-color: $white-color;
}

::-webkit-scrollbar-thumb {
	background-color: lighten($main-color, 20%);
	border-radius: 5px;

	&:hover {
		background-color: lighten($main-color, 10%);
	}
}

:root {
	--swiper-theme-color: #7140EB;

	@media (max-width: #{map-get($breakpoints, 'xs')}) {
		--swiper-navigation-size: 30px;
	}
}

body {
	margin: 0;
	padding: 0;

	padding-bottom: 50px;

	min-width: 320px;
	font-family: $main-font;

	color: $white-color;
	background-color: $grey-color;
	background: linear-gradient(90deg, $color-2, $color-1, $color-7, $color-4);
	background-size: 400% 400%;
	animation: body-gradient 25s ease infinite;

	@keyframes body-gradient {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
	
}

img {
	max-width: 100%;
	height: auto;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}
