/* Lora-600 */
@font-face {
	font-display: swap;
	font-family: 'Lora 600';
	font-style: normal;
	font-weight: 600;
	src: url('/fonts/Main/Lora/lora-600.eot');
	src: url('/fonts/Main/Lora/lora-600.eot?#iefix') format('embedded-opentype'),
			url('/fonts/Main/Lora/lora-600.woff2') format('woff2'),
			url('/fonts/Main/Lora/lora-600.woff') format('woff'),
			url('/fonts/Main/Lora/lora-600.ttf') format('truetype');
}

/* nunito-regular */
@font-face {
	font-display: swap;
	font-family: 'Nunito regular';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/Main/Nunito/nunito-regular.eot');
	src: url('/fonts/Main/Nunito/nunito-regular.eot?#iefix') format('embedded-opentype'),
			url('/fonts/Main/Nunito/nunito-regular.woff2') format('woff2'),
			url('/fonts/Main/Nunito/nunito-regular.woff') format('woff'),
			url('/fonts/Main/Nunito/nunito-regular.ttf') format('truetype');
}
/* nunito-italic */
@font-face {
	font-display: swap;
	font-family: 'Nunito italic';
	font-style: italic;
	font-weight: 400;
	src: url('/fonts/Main/Nunito/nunito-italic.eot');
	src: url('/fonts/Main/Nunito/nunito-italic.eot?#iefix') format('embedded-opentype'),
			url('/fonts/Main/Nunito/nunito-italic.woff2') format('woff2'),
			url('/fonts/Main/Nunito/nunito-italic.woff') format('woff'),
			url('/fonts/Main/Nunito/nunito-italic.ttf') format('truetype');
}

/* nunito-600 */
	@font-face {
	font-display: swap;
	font-family: 'Nunito 600';
	font-style: normal;
	font-weight: 600;
	src: url('/fonts/Main/Nunito/nunito-600.eot');
	src: url('/fonts/Main/Nunito/nunito-600.eot?#iefix') format('embedded-opentype'),
			url('/fonts/Main/Nunito/nunito-600.woff2') format('woff2'),
			url('/fonts/Main/Nunito/nunito-600.woff') format('woff'),
			url('/fonts/Main/Nunito/nunito-600.ttf') format('truetype');
}

/* nunito-700 */
@font-face {
	font-display: swap;
	font-family: 'Nunito 700';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/Main/Nunito/nunito-700.eot');
	src: url('/fonts/Main/Nunito/nunito-700.eot?#iefix') format('embedded-opentype'),
			url('/fonts/Main/Nunito/nunito-700.woff2') format('woff2'),
			url('/fonts/Main/Nunito/nunito-700.woff') format('woff'),
			url('/fonts/Main/Nunito/nunito-700.ttf') format('truetype');
}

/* nunito-800 */
@font-face {
	font-display: swap;
	font-family: 'Nunito 800';
	font-style: normal;
	font-weight: 800;
	src: url('/fonts/Main/Nunito/nunito-800.eot');
	src: url('/fonts/Main/Nunito/nunito-800.eot?#iefix') format('embedded-opentype'),
			url('/fonts/Main/Nunito/nunito-800.woff2') format('woff2'),
			url('/fonts/Main/Nunito/nunito-800.woff') format('woff'),
			url('/fonts/Main/Nunito/nunito-800.ttf') format('truetype');
}
