.form {
	display: flex;
	flex-direction: column;

	&__input {
		width: 100%;
		padding: 10px 15px;

		border: 1px solid lighten($grey-color, 40%);
		color: $black-color;
		outline: 0;

		@include font-xxl;

		background-color: $white-color;

		&::placeholder {
			@include font-xs;
		}

		&:hover,
		&:focus {
			border-color: $grey-color;
		}
	}

	&__block {
		margin-bottom: 10px;
	}

	&__title {
		@include font-xxl;
		margin-bottom: 10px;
	}

	&__button {
		font-family: $main-font-bold;
	}
}

.forms__list {
	@for $i from 1 through length($form-colors) {
		.forms__item:nth-child(#{$i}) .btn--form {
			background-color: transparent;
			border-color: nth($form-colors, $i);
			color: nth($form-colors, $i);

			&:hover:not(:disabled) {
				background-color: nth($form-colors, $i);
				color: $white-color;
			}

			&.added {
				background-color: nth($form-colors, $i);
				color: $white-color;
				pointer-events: none;
			}
		}
	}
}

.forms__item--big {
	.swiper-button-prev, 
	.swiper-button-next {
		color: $color-8;

		&::before {
			content: "";
			position: absolute;
	
			left: -10px;
			top: -55px;
			width: 50px;
			height: 160px;
	
			background-color: $white-color;
			filter: blur(20px);
	
			z-index: -1;
	
			@media (max-width: #{map-get($breakpoints, 'xs')}) {
				width: 40px;
			}
		}
	}

	.swiper-button-prev::before {	
		left: -10px;
	}

	.swiper-button-next::before {
		right: -10px;
	}
}

@media (max-width: #{map-get($breakpoints, 'md')}) {
	.form {
		&__input {
			@include font-s;
		}

		&__title {
			@include font-xl;
		}
	}
}

@media (max-width: #{map-get($breakpoints, 'xs')}) {
	.form {
		&__title {
			@include font-xxl;
		}
	}
}